{% extends 'blog/base.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p><strong>Author:</strong> {{ post.author.username }}</p>
    <p><strong>Created At:</strong> {{ post.created_at }}</p>
    <p><strong>Updated At:</strong> {{ post.updated_at }}</p>
    <p><strong>Tag:</strong>
      {% for tag in post.tags.all %}
        <a href="{% url 'posts_by_tag' tag.name %}"><{{tag.name}}</a>
        {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
    <div>{{ post.content }}</div>
    <a href="{% url 'all_post' %}">see all posts</a>


<hr>


    <!-- Comment Section -->
    <div class="comments-section">
      <h2>Comments</h2>
      
      <!-- Display Existing Comments -->
      <div class="comments-list">
        {% for comment in comments %}
          <div class="comment">
            <p><strong>{{ comment.author.username }}</strong> ({{ comment.created_at }})</p>
            <p>{{ comment.content }}</p>
            
            <!-- Edit and Delete Comment Links -->
            {% if comment.author == user %}
              <a href="{% url 'comment_edit' pk=comment.pk %}">Edit</a> |
              <a href="{% url 'comment_delete' pk=comment.pk %}">Delete</a>
            {% endif %}
          </div>
    
    
        {% empty %}
          <p>No comments yet. Be the first to comment!</p>
        {% endfor %}
     
      <a href="{% url 'comment_create' post.pk %}">add a comment</a>
    </div>
    
{% endblock %}
