{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <h2>Your Profile</h2>
        <div class="profile-info">
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Username:</strong> {{ user.username }}</p>

        </div>

        <h3>Change email</h3>
        <form method="POST">
            {% csrf_token %}
            {{ password_form.as_p }}
            <button type="submit">Change emaiil</button>
        </form>
       </div>


        </div>

        <h3>Change Password</h3>
        <form method="POST">
            {% csrf_token %}
            {{ password_form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>
    <a href="{% url 'post_create' %}">createpost</a></li>
{% endblock %}